body {
  background-color: salmon;
}

#home-body {
  background-image: url("/static/images/homePage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#create-body {
  background-image: url("/static/images/createQuiz.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#all-body {
  background-image: url("/static/images/allQuiz.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about-body {
  background-image: url("/static/images/about.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#background-result-body {
  background-image: url("/static/images/allQuiz.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#result {
  border-radius: 10px;
  background-color: rgb(255, 233, 204);
  padding: 25px 25px;
  text-align: center;
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-shadow: 8px 8px 13px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 13px 8px rgba(0, 0, 0, 0.7);
}

#result-div {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
}

#main-tag {
  border-radius: 10px;
  background-color: rgb(255, 233, 204);
  padding: 10px 10px;
  -webkit-box-shadow: 8px 8px 13px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 13px 8px rgba(0, 0, 0, 0.7);
}

#home-Buttons {
  background-color: salmon;
  color: white;
}

#home-Buttons:hover {
  background-color: rgb(133, 83, 77);
  box-shadow: 0px 15px 20px rgba(46, 29, 29, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

a {
  color: midnightblue;
}

.ul-list {
  margin: 0;
  padding: 0;
}

#view-quizes {
  border-radius: 10px;
  display: block;
  text-align: center;
  background-color: rgb(255, 233, 204);
  list-style: none;
  margin-bottom: 5px;
  transition: transform 133ms ease-in-out;
  -webkit-box-shadow: 8px 8px 13px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 13px 8px rgba(0, 0, 0, 0.7);
}

#view-quizes:hover {
  transform: scale(1.13);
}

h1 {
  text-align: center;
}

#about {
  border-radius: 10px;
  background-color: rgb(255, 233, 204);
  padding: 5px 5px;
  text-align: left;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-shadow: 8px 8px 13px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 13px 8px rgba(0, 0, 0, 0.7);
}

#take-quiz {
  border-radius: 10px;
  background-color: rgb(255, 233, 204);
  padding: 5px 5px;
  text-align: left;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  -webkit-box-shadow: 8px 8px 13px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 13px 8px rgba(0, 0, 0, 0.7);
}

#create-quiz {
  border-radius: 10px;
  background-color: rgb(255, 233, 204);
  padding: 5px 5px;
  text-align: center;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-shadow: 8px 8px 13px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 13px 8px rgba(0, 0, 0, 0.7);
}

.navbar-nav li {
  padding-left: 30px;
  padding-right: 30px;
}

#quiz-Buttons {
  background-color: salmon;
  color: white;
  align-content: center;
}

#quiz-Buttons:hover {
  background-color: rgb(133, 83, 77);
  box-shadow: 0px 15px 20px rgba(46, 29, 29, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
