<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    {% include 'header.html' %}
</head>

<body>
    <header>
        {% include 'navbar.html' %}
        <h1>About</h1>
    </header>
    <main>
        <p>This is a project made for CPSC 349.</p>
        <p>Programmers</p>
        <ul>
            <li>Chao Wu</li>
            <li>Dalisa Nguyen</li>
            <li>Graciela Orozco</li>
            <li>Ismael Barajas</li>
        </ul>
        <p>Technologies Used</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Flask</li>
            <li>Python</li>
            <li>SQLite</li>
        </ul>
        <p>Libraries Used</p>
        <ul>
            <li>Flask</li>
            <li>Flask SQLAlchemy</li>
            <li>Python Collections</li>
        </ul>
    </main>
    {% include 'script.html' %}
</body>

</html>