<!DOCTYPE html>
<html>
    <head>
        <title>Create a Quiz</title>
        {% include 'header.html' %}
    </head>
    <body>
        <header>
            <h1>Create a Quiz</h1>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </header>
        <main>
            <form action="/create/quiz" method="post" data-create-quiz="form">
                <div>
                    <label>Title of Quiz</label>
                    <input name="quizTitle">
                </div>
                <div>
                    <label>Result 1</label>
                    <input name="resultOne">
                </div>
                <div>
                    <label>Result 2</label>
                    <input name="resultTwo">
                </div>
                <div>
                    <label>Result 3</label>
                    <input name="resultThree">
                </div>
                <div>
                    <label>Result 4</label>
                    <input name="resultFour">
                </div>
                <hr>

                <div>
                    <label>Question 1</label>
                    <input name="questionOne">
                </div>
                <div>
                    <label>Answer for Result 1</label>
                    <input name="questionOneAnswerOne">
                </div>
                <div>
                    <label>Answer for Result 2</label>
                    <input name="questionOneAnswerTwo">
                </div>
                <div>
                    <label>Answer for Result 3</label>
                    <input name="questionOneAnswerThree">
                </div>
                <div>
                    <label>Answer for Result 4</label>
                    <input name="questionOneAnswerFour">
                </div>
                <hr>

                <div>
                    <label>Question 2</label>
                    <input name="questionTwo">
                </div>
                <div>
                    <label>Answer for Result 1</label>
                    <input name="questionTwoAnswerOne">
                </div>
                <div>
                    <label>Answer for Result 2</label>
                    <input name="questionTwoAnswerTwo">
                </div>
                <div>
                    <label>Answer for Result 3</label>
                    <input name="questionTwoAnswerThree">
                </div>
                <div>
                    <label>Answer for Result 4</label>
                    <input name="questionTwoAnswerFour">
                </div>
                <hr>

                <div>
                    <label>Question 3</label>
                    <input name="questionThree">
                </div>
                <div>
                    <label>Answer for Result 1</label>
                    <input name="questionThreeAnswerOne">
                </div>
                <div>
                    <label>Answer for Result 2</label>
                    <input name="questionThreeAnswerTwo">
                </div>
                <div>
                    <label>Answer for Result 3</label>
                    <input name="questionThreeAnswerThree">
                </div>
                <div>
                    <label>Answer for Result 4</label>
                    <input name="questionThreeAnswerFour">
                </div>
                <hr>

                <div>
                    <label>Question 4</label>
                    <input name="questionFour">
                </div>
                <div>
                    <label>Answer for Result 1</label>
                    <input name="questionFourAnswerOne">
                </div>
                <div>
                    <label>Answer for Result 2</label>
                    <input name="questionFourAnswerTwo">
                </div>
                <div>
                    <label>Answer for Result 3</label>
                    <input name="questionFourAnswerThree">
                </div>
                <div>
                    <label>Answer for Result 4</label>
                    <input name="questionFourAnswerFour">
                </div>
                <hr>

                <a href="/view/all/quizzes"><button type="submit">Submit</button></a>
            </form>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="scripts/formhandler.js" charset="utf-8"></script>
        <script src="scripts/main.js" charset="utf-8"></script>
        <script src="scripts/datastore.js" charset="utf-8"></script>
    </body>
</html>