<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    {% include 'header.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container text-center" style="margin-top: 10%;">
        <main>
            <h1>Create A Character Quiz!</h1>
            <p>"Which Character Are You?" quizzes are some of the most popular quizzes that exist.
                This is a guide on how to make one for your brand. Here's what we'll cover.
            </p>
            <p>Writing the character types</p>
            <p>Creating compelling questions</p>
            <p>Share with your friends</p>
            <a class="btn btn-info" href="/create/quiz">Start!</a>
            <a class="btn btn-secondary" href="/view/all/quizzes">View All Quizzes</a>
        </main>
    </div>
</body>

</html>