<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body id="home-body">
    {% include 'navbar.html' %}
    <h1 style="text-shadow: 6px 5px 3px rgba(0,0,0,0.7);">Login</h1>
    <main id="login-page">
        <form action="" method="">
            <div class="container">
                <div class="form-group">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" class="form-control validate" name="username"
                        required>
                </div>
                <div class="form-group">
                    <label for="logpsw"><b>Password</b></label>
                    <input type="password" name="logpsw" placeholder="Enter Password" class="form-control validate"
                        required>
                </div>
                <input class="btn" id="login-Button" type="submit" value="Login">
            </div>
            <div class="containter" style="align-content: center;">
                <a href="/" class="btn btn-danger" id="cancel-log">Cancel</a>
                <a href="" class="btn btn-success" id="sign-log" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a>
            </div>
        </form>
    </main>
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-popout">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-user"></i>
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control validate" required>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fas fa-lock"></i>
                            <label for="psw">Password</label>
                            <input type="password" id="psw" class="form-control validate" required>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fas fa-lock"></i>
                            <label for="psw-repeat">Confirm Password</label>
                            <input type="password" id="psw-repeat" class="form-control validate" required>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-success" id="sign-log" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        //Copyright (c) 2020 by Diego Leme (https://codepen.io/diegoleme/pen/surIK)
        var password = document.getElementById("psw"),
            confirm_password = document.getElementById("psw-repeat");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

    {% include 'script.html' %}
</body>

</html>