<!DOCTYPE html>
<html>
    <head>
        <title>Create a Quiz</title>
    </head>
    <body>
        <header>
            <h1>Create a Quiz</h1>
        </header>
        <main>
            <form>
                <div>
                    <label>Title of Quiz</label>
                    <input name="quizTitle">
                </div>


                <div>
                    <label>Question 1</label>
                    <input name="questionOne">
                </div>
                <div>
                    <label>Answer 1</label>
                    <input type="radio" name="questionOneAnswerOne">
                </div>
                <div>
                    <label>Answer 2</label>
                    <input type="radio" name="questionOneAnswerTwo">
                </div>
                <div>
                    <label>Answer 3</label>
                    <input type="radio" name="questionOneAnswerThree">
                </div>
                <div>
                    <label>Answer 4</label>
                    <input type="radio" name="questionOneAnswerFour">
                </div>

                <div>
                    <label>Question 2</label>
                    <input name="questionTwo">
                </div>
                <div>
                    <label>Answer 1</label>
                    <input type="radio" name="questionTwoAnswerOne">
                </div>
                <div>
                    <label>Answer 2</label>
                    <input type="radio" name="questionTwoAnswerTwo">
                </div>
                <div>
                    <label>Answer 3</label>
                    <input type="radio" name="questionTwoAnswerThree">
                </div>
                <div>
                    <label>Answer 4</label>
                    <input type="radio" name="questionTwoAnswerFour">
                </div>

                <div>
                    <label>Question 3</label>
                    <input name="questionThree">
                </div>
                <div>
                    <label>Answer 1</label>
                    <input type="radio" name="questionThreeAnswerOne">
                </div>
                <div>
                    <label>Answer 2</label>
                    <input type="radio" name="questionThreeAnswerTwo">
                </div>
                <div>
                    <label>Answer 3</label>
                    <input type="radio" name="questionThreeAnswerThree">
                </div>
                <div>
                    <label>Answer 4</label>
                    <input type="radio" name="questionThreeAnswerFour">
                </div>

                <div>
                    <label>Question 4</label>
                    <input name="questionFour">
                </div>
                <div>
                    <label>Answer 1</label>
                    <input type="radio" name="questionFourAnswerOne">
                </div>
                <div>
                    <label>Answer 2</label>
                    <input type="radio" name="questionFourAnswerTwo">
                </div>
                <div>
                    <label>Answer 3</label>
                    <input type="radio" name="questionFourAnswerThree">
                </div>
                <div>
                    <label>Answer 4</label>
                    <input type="radio" name="questionFourAnswerFour">
                </div>

                
            </form>
        </main>
    </body>
</html>