<!DOCTYPE html>
<html>

<head>
    <title> View All Quizzes </title>
    {% include 'header.html' %}
</head>

<body id="all-body">
    {% include 'navbar.html' %}
    <div class="container text-center">
        <header>
            <h1> View All Quizzes </h1>
        </header>
        <main> 
            <form>
                {% if quiz %}
                {% for quizzes in quiz %}
                <p id="view-quizes">
                    <a href="/take/quiz/{{quizzes.quiz_id}}">{{quizzes.quiz_name}}</a>
                </p>
                {% endfor %}
                {% endif %}
            </form>
        </main>
    </div>
    {% include 'script.html' %}
</body>

</html>
