<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title> View All Quizzes </title>
            <link rel="stylesheet" href="stylesheets/styles.css">
        </head>
    
        <body>
            <header> 
                <h1> View All Quizzes </h1>
            </header>

            <main> 
                <form>
                    {% if quiz %}
                        <ul>
                            {% for quizzes in quiz %}
                            <li> 
                                <a href="/take/quiz/{{quizzes.quiz_id}}">{{quizzes.quiz_name}}</a>  
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </form>
            </main>
        </body>
    </html>