<!DOCTYPE html>
    <html>
        <head>
            <title> View All Quizzes </title>
            {% include 'header.html' %}
        </head>
    
        <body>
            {% include 'navbar.html' %}
            <div class="container text-center">
                <header> 
                    <h1> View All Quizzes </h1>
                </header>
                <main> 
                    <form>
                        {% if quiz %}
                            <ul class="list">
                                {% for quizzes in quiz %}
                                <li> 
                                    <a href="/take/quiz/{{quizzes.quiz_id}}">{{quizzes.quiz_name}}</a>  
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </main>
            </div>
        </body>
    </html>